@use "@/styles/colors" as clr;

.global-nav {
  display: flex;
  align-items: center;
  gap: 4.8rem;

  border-top: 0.5rem solid clr.$ara-red;
  padding: 0 2.4rem;
  height: 5.5rem;

  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  display: flex;

  & > img {
    height: 2.7rem;
  }
}

.nav-container {
  display: flex;
  flex: 1;

  height: 100%;
}

.single-nav {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 1.2rem;

  &:hover {
    text-decoration: underline;
    text-decoration-color: clr.$ara-red;
    text-decoration-thickness: 0.2rem;
  }
}

.translate-btn {
  display: flex;

  border: none;

  background: none;

  font-size: 2.4rem;
  color: inherit;

  &:hover {
    color: clr.$gray-400;
  }

  &:active {
    color: clr.$gray-600;
  }
}
