@use "@/styles/colors" as clr;

.board {
  display: flex;
  gap: 4rem;
}

.board-container {
  width: 70%;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0.4rem 0;
}

.filter-container {
  display: flex;
  flex: 1;

  overflow-x: scroll;
  white-space: nowrap;
}

.filter-name {
  font-weight: 500;
}

.filter {
  border-right: 0.1rem solid clr.$gray-200;
  padding: 0 0.6rem;
}

.filter-selected {
  font-weight: 500;
  color: clr.$ara-red;
}

.board-entry-container {
  list-style: none;

  & > hr {
    border: none;
    height: 0.1rem;
    background-color: clr.$gray-100;
  }
}

.aside {
  flex: 1;
}
