@use "@/styles/colors" as clr;

.entry {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.8rem;
}

.profile-img {
  object-fit: cover;

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.body {
  flex: 1;

  width: 0;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
}

.title {
  font-weight: 600;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.comment-count {
  color: clr.$ara-red;
}

.status-tag {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 0 0.5rem;

  background-color: clr.$ara-red;

  font-size: 1.2rem;
  font-weight: 300;
  color: clr.$white;
}

.info-container {
  display: flex;
  gap: 1rem;

  font-size: 1.2rem;
  font-weight: 300;
  color: clr.$gray-400;
}

.author {
  display: flex;
  align-items: center;
}

.upvote {
  color: clr.$upvote;
}

.downvote {
  color: clr.$downvote;
}
