@use "@/styles/colors" as clr;

.preview {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.box {
  width: 3rem;
  height: 0.5rem;

  background-color: clr.$ara-red;
}

.header {
  font-size: 1.8rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  list-style: none;
}

.item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  color: clr.$gray-300;
}
