@use "@/styles/colors" as clr;

.comment {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: max-content auto;

  padding: 2.5rem 0 2.7rem;
}

.profile-image {
  object-fit: cover;

  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

.nickname-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nickname {
  font-weight: 600;
}

.comment-date {
  font-size: 1.4rem;
  color: clr.$gray-300;
}

.contents {
  grid-column: 2 / 3;
}

.button-container {
  display: flex;
  gap: 2rem;
  grid-column: 2 / 3;

  margin-top: 1rem;
}

.reply-btn {
  border: none;

  background: none;
}

.reply-bar {
  display: flex;
  justify-content: center;

  grid-column: 1 / 2;
  grid-row: 2 / 5;

  padding-top: 1.5rem;

  & > hr {
    border: none;
    width: 0.1rem;
    height: 100%;

    background-color: clr.$gray-200;
  }
}

.reply-container {
  & > .comment {
    margin-top: 4.2rem;
    padding: 0;
  }
}
